@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Science+Gothic:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark1: #16162F;
  --dark2: hsl(222, 34%, 21%);
  --dark3: #384358;
  --cream: #FFA586;
  --red1: #B51A2B;
  --red2: #541A2E;
  --white: #F5F5F5;
}

body {
  font-family: Nunito;
}

.st-container {
  width: 100%;
  margin-top: 10em;
  padding: 3rem;

  h3 {
    font-size: 1.8rem;
    margin-left: 2.3em;

  }
}

.ol-st {

  margin: 5em 0 0 4.5em;
  padding: 0 3em;
  border-left: 3.5px solid var(--red1);


  ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 2em;
    


    li {
      font-weight: 600;
      font-size: 1.2em;
    }
  }
}

